## Bonus objective

In the data is information about riders that did not finish (DNF) races. It migth be of different reasons but mostly it's because of falling and get hurt or the motorbike broke.
Anyway, it is fun to know what type of brand of the motorbike is most common used when DNF a race.

In [6]:
import os
import pandas as pd
import numpy as np

## Loading and combining data

In [7]:
# Folder containing CSV files
folder_path = '../src/raw_data/'

# List all files in the folder ending with '.csv'
file_paths = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith('.csv')]

# Initialize an empty list to store dataframes
dataframes = []

# Loop through each file and read its data into a pandas DataFrame
for file_path in file_paths:
    try:
        # Read CSV into a dataframe
        df = pd.read_csv(file_path, encoding='cp1252')
        # Drop rows with all NaN values
        df.dropna(how='all', inplace=True)
        dataframes.append(df)
    except UnicodeDecodeError:
        print(f"Error reading {file_path}. Check encoding or file contents.")

# Combine dataframes vertically (adding rows below)
combined_df = pd.concat(dataframes, axis=0, ignore_index=True)

combined_df.head(-10)

,Plats,År,Plac,Klass,#,Namn,Klubb,Märke/Anmälare,Varvtider,Varv,Tid
0,FMCK Skövde,2023.0,1.0,Motion 40-49,1111.0,Magnus Edberg,Huskvarna MK,KTM,14:08.2 14:17.5 11:47.5 12:52.1,4.0,53:05.5
1,FMCK Skövde,2023.0,2.0,Motion -39,518.0,Alexander Fält,Försvarsmaktens EK,Honda,14:38.8 14:31.4 12:13.6 12:21.2,4.0,53:45.2
2,FMCK Skövde,2023.0,3.0,Motion -39,577.0,Måns Dalén,FMCK Skövde,KTM,14:20.4 14:53.3 12:03.4 12:34.3,4.0,53:51.5
3,FMCK Skövde,2023.0,4.0,Ungdom E1,175.0,William Almén,SMK Värnamo,Husqvarna,14:26.6 14:50.0 12:07.0 12:42.5,4.0,54:06.2
4,FMCK Skövde,2023.0,5.0,Motion 40-49,944.0,Niklas Strömberg,Götene MK,Honda,14:40.2 15:07.9 11:56.7 12:28.9,4.0,54:13.8
...,...,...,...,...,...,...,...,...,...,...,...
2239,Tibro MK,2023.0,47.0,Bredd,213.0,Björn Levin,Kinna MK,Husqvarna,18:39.1 18:19.7 18:30.7 18:26.4,4.0,13:56.1
2240,Tibro MK,2023.0,48.0,Bredd,332.0,Ulf Åström,Wäxjö MS,Sherco,19:03.6 19:05.7 19:10.9 18:58.2,4.0,16:18.5
2241,Tibro MK,2023.0,49.0,Dam,441.0,Hilda Sjöberg,Tibro MK,Honda,19:31.1 19:36.3 19:18.4 19:05.1,4.0,17:31.0
2242,Tibro MK,2023.0,50.0,Bredd,315.0,Jesper Thorsson,Kungsbacka MA,Beta,19:36.0 19:27.1 19:18.8 19:30.9,4.0,17:53.0
2243,Tibro MK,2023.0,51.0,Bredd,200.0,Andreas Josefsson,Falköpings MK,Husqvarna,19:45.6 19:41.4 19:35.8 19:42.1,4.0,18:45.1

## Converting 'År', 'Plac', '#', 'Varv' data to numeric.

In [8]:
# Convert columns to numeric, handling errors
columns_to_convert = ['År', 'Plac', '#', 'Varv']

for column in columns_to_convert:
    # Dropping rows with NaN in the 'Plac' column
    combined_df.dropna(subset=['Plac'], inplace=True)

    combined_df[column] = pd.to_numeric(combined_df[column], errors='coerce')

# Check for non-finite values
non_finite_values = combined_df[columns_to_convert][~combined_df[columns_to_convert].apply(lambda x: x.apply(np.isfinite)).all(1)]
print(non_finite_values)
combined_df.head(-10)

Empty DataFrame
Columns: [År, Plac, #, Varv]
Index: []

,Plats,År,Plac,Klass,#,Namn,Klubb,Märke/Anmälare,Varvtider,Varv,Tid
0,FMCK Skövde,2023.0,1.0,Motion 40-49,1111.0,Magnus Edberg,Huskvarna MK,KTM,14:08.2 14:17.5 11:47.5 12:52.1,4.0,53:05.5
1,FMCK Skövde,2023.0,2.0,Motion -39,518.0,Alexander Fält,Försvarsmaktens EK,Honda,14:38.8 14:31.4 12:13.6 12:21.2,4.0,53:45.2
2,FMCK Skövde,2023.0,3.0,Motion -39,577.0,Måns Dalén,FMCK Skövde,KTM,14:20.4 14:53.3 12:03.4 12:34.3,4.0,53:51.5
3,FMCK Skövde,2023.0,4.0,Ungdom E1,175.0,William Almén,SMK Värnamo,Husqvarna,14:26.6 14:50.0 12:07.0 12:42.5,4.0,54:06.2
4,FMCK Skövde,2023.0,5.0,Motion 40-49,944.0,Niklas Strömberg,Götene MK,Honda,14:40.2 15:07.9 11:56.7 12:28.9,4.0,54:13.8
...,...,...,...,...,...,...,...,...,...,...,...
2239,Tibro MK,2023.0,47.0,Bredd,213.0,Björn Levin,Kinna MK,Husqvarna,18:39.1 18:19.7 18:30.7 18:26.4,4.0,13:56.1
2240,Tibro MK,2023.0,48.0,Bredd,332.0,Ulf Åström,Wäxjö MS,Sherco,19:03.6 19:05.7 19:10.9 18:58.2,4.0,16:18.5
2241,Tibro MK,2023.0,49.0,Dam,441.0,Hilda Sjöberg,Tibro MK,Honda,19:31.1 19:36.3 19:18.4 19:05.1,4.0,17:31.0
2242,Tibro MK,2023.0,50.0,Bredd,315.0,Jesper Thorsson,Kungsbacka MA,Beta,19:36.0 19:27.1 19:18.8 19:30.9,4.0,17:53.0
2243,Tibro MK,2023.0,51.0,Bredd,200.0,Andreas Josefsson,Falköpings MK,Husqvarna,19:45.6 19:41.4 19:35.8 19:42.1,4.0,18:45.1

## Convert År, Plac, # and Varv colums to int.

In [9]:
columns_to_convert = ['År', 'Plac', '#', 'Varv']

# Convert specified columns to integer type
combined_df[columns_to_convert] = combined_df[columns_to_convert].astype(int)

combined_df = combined_df.rename(columns={'Varv': 'TotLaps'})
combined_df.head(-10)

,Plats,År,Plac,Klass,#,Namn,Klubb,Märke/Anmälare,Varvtider,TotLaps,Tid
0,FMCK Skövde,2023,1,Motion 40-49,1111,Magnus Edberg,Huskvarna MK,KTM,14:08.2 14:17.5 11:47.5 12:52.1,4,53:05.5
1,FMCK Skövde,2023,2,Motion -39,518,Alexander Fält,Försvarsmaktens EK,Honda,14:38.8 14:31.4 12:13.6 12:21.2,4,53:45.2
2,FMCK Skövde,2023,3,Motion -39,577,Måns Dalén,FMCK Skövde,KTM,14:20.4 14:53.3 12:03.4 12:34.3,4,53:51.5
3,FMCK Skövde,2023,4,Ungdom E1,175,William Almén,SMK Värnamo,Husqvarna,14:26.6 14:50.0 12:07.0 12:42.5,4,54:06.2
4,FMCK Skövde,2023,5,Motion 40-49,944,Niklas Strömberg,Götene MK,Honda,14:40.2 15:07.9 11:56.7 12:28.9,4,54:13.8
...,...,...,...,...,...,...,...,...,...,...,...
2239,Tibro MK,2023,47,Bredd,213,Björn Levin,Kinna MK,Husqvarna,18:39.1 18:19.7 18:30.7 18:26.4,4,13:56.1
2240,Tibro MK,2023,48,Bredd,332,Ulf Åström,Wäxjö MS,Sherco,19:03.6 19:05.7 19:10.9 18:58.2,4,16:18.5
2241,Tibro MK,2023,49,Dam,441,Hilda Sjöberg,Tibro MK,Honda,19:31.1 19:36.3 19:18.4 19:05.1,4,17:31.0
2242,Tibro MK,2023,50,Bredd,315,Jesper Thorsson,Kungsbacka MA,Beta,19:36.0 19:27.1 19:18.8 19:30.9,4,17:53.0
2243,Tibro MK,2023,51,Bredd,200,Andreas Josefsson,Falköpings MK,Husqvarna,19:45.6 19:41.4 19:35.8 19:42.1,4,18:45.1

In [10]:
import pandas as pd

# Assuming 'combined_df' is your DataFrame containing the data

# Empty list to store rows containing the words
rows_containing_words = []

# Iterate through each row in combined_df
for index, row in combined_df.iterrows():
    # Check if any cell in the row contains 'BRUTIT' or 'KÖR'
    if any(['BRUTIT' in str(cell) or 'KÖR' in str(cell) for cell in row]):
        rows_containing_words.append(row)

# Create a DataFrame containing rows with the words
dnf_df = pd.DataFrame(rows_containing_words, columns=combined_df.columns)

# Display the DataFrame containing rows with the words
dnf_df.head(10)

,Plats,År,Plac,Klass,#,Namn,Klubb,Märke/Anmälare,Varvtider,TotLaps,Tid
1863,Falköpings MK,2023,171,Motion 16-29,361,Joel Björkman,SMK Kolmården,KTM,2:18.1 23:46.0 25:02.2 35:59.8 KÖR,4,27:06.2

In [11]:
# Extract the first word from 'Märke/Anmälare' column
first_words = combined_df['Märke/Anmälare'].str.split().str[0]

# Count occurrences of each first word
first_word_counts = first_words.value_counts().reset_index()

# Rename columns in the DataFrame
first_word_counts.columns = ['Brand', 'Count']

# Save the result in a DataFrame called brands_df
brands_df = first_word_counts.copy()

# Display the DataFrame
print(brands_df)

        Brand  Count
0         KTM    920
1   Husqvarna    481
2      Sherco    213
3      Yamaha    160
4      GasGas    141
5        Beta    138
6       Honda     78
7    Kawasaki     34
8      Suzuki     18
9    Husaberg     13
10         TM     10
11       Team      2
12     sherco      1
13     Fantic      1
14    Aprilia      1

In [12]:
import os

# Specify the folder and file names
folder_name = 'dnf_brands'
file_name = 'brands.csv'
file_path = os.path.join(folder_name, file_name)

# Check if the folder exists, create it if not
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

# Save the DataFrame to CSV
try:
    brands_df.to_csv(file_path, index=False)
    print(f"DataFrame 'brands_df' saved to {file_path} successfully.")
except Exception as e:
    print(f"Error saving DataFrame to CSV: {e}")

DataFrame 'brands_df' saved to dnf_brands\brands.csv successfully.

In [13]:
# Extract the first word from 'Märke/Anmälare' column in mismatched_rows
first_words_mismatched = dnf_df['Märke/Anmälare'].str.split().str[0]

# Count occurrences of each first word
first_word_counts_mismatched = first_words_mismatched.value_counts().reset_index()

# Rename columns in the DataFrame
first_word_counts_mismatched.columns = ['Brand', 'Count']

# Save the result in a DataFrame called brands_dnf_df
brands_dnf_df = first_word_counts_mismatched.copy()

# Display the DataFrame
print(brands_dnf_df)

  Brand  Count
0   KTM      1

In [14]:
# Merge the total counts and DNF counts on 'Brand'
merged_brands = brands_df.merge(brands_dnf_df, on='Brand', suffixes=('_total', '_dnf'))

# Calculate percentage chance of DNF for each brand
merged_brands['Percentage_DNF'] = (merged_brands['Count_dnf'] / merged_brands['Count_total']) * 100

# Display the DataFrame with the percentages
print(merged_brands)

  Brand  Count_total  Count_dnf  Percentage_DNF
0   KTM          920          1        0.108696

In [15]:
# Get the count of occurrences for KTM from 'merged_brands'
ktm_total_count = merged_brands[merged_brands['Brand'] == 'KTM']['Count_total'].values
ktm_dnf_count = merged_brands[merged_brands['Brand'] == 'KTM']['Count_dnf'].values

# Calculate the likelihood of a DNF for KTM
likelihood_ktm_dnf = (ktm_dnf_count / ktm_total_count) * 100 if ktm_total_count != 0 else 0

# Display the likelihood
print(f"The likelihood of a KTM getting a DNF is approximately {likelihood_ktm_dnf}%")

The likelihood of a KTM getting a DNF is approximately [0.10869565]%

## Save to CSV

In [16]:
# Specify the folder and file names
folder_name = 'src/dnf_brands'
file_name = 'dnf_brands.csv'
file_path = os.path.join(folder_name, file_name)

# Check if the folder exists, create it if not
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

# Save the DataFrame to CSV
try:
    merged_brands.to_csv(file_path, index=False)
    print(f"DataFrame 'merged_brands' saved to 'dnf_brands.csv' successfully.")
except Exception as e:
    print(f"Error saving DataFrame to CSV: {e}")

DataFrame 'merged_brands' saved to 'dnf_brands.csv' successfully.