## Bonus objective

In the data is information about riders that did not finish (DNF) races. It migth be of different reasons but mostly it's because of falling and get hurt or the motorbike broke.
Anyway, it is fun to know what type of brand of the motorbike is most common used when DNF a race.

In [61]:
import os
import pandas as pd
import numpy as np

## Loading and combining data

In [62]:
# Folder containing CSV files
folder_path = '../src/raw_data/'

# List all files in the folder ending with '.csv'
file_paths = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith('.csv')]

# Initialize an empty list to store dataframes
dataframes = []

# Loop through each file and read its data into a pandas DataFrame
for file_path in file_paths:
    try:
        # Read CSV into a dataframe
        df = pd.read_csv(file_path, encoding='cp1252')
        # Drop rows with all NaN values
        df.dropna(how='all', inplace=True)
        dataframes.append(df)
    except UnicodeDecodeError:
        print(f"Error reading {file_path}. Check encoding or file contents.")

# Combine dataframes vertically (adding rows below)
combined_df = pd.concat(dataframes, axis=0, ignore_index=True)
    
# Display the DataFrame
combined_df.head(10)

,Plats,År,Plac,Klass,#,Namn,Klubb,Märke/Anmälare,Varvtider,Varv,Tid
0,FMCK Skövde,2023.0,1.0,Motion 40-49,1111.0,Magnus Edberg,Huskvarna MK,KTM,14:08.2 14:17.5 11:47.5 12:52.1,4.0,53:05.5
1,FMCK Skövde,2023.0,2.0,Motion -39,518.0,Alexander Fält,Försvarsmaktens EK,Honda,14:38.8 14:31.4 12:13.6 12:21.2,4.0,53:45.2
2,FMCK Skövde,2023.0,3.0,Motion -39,577.0,Måns Dalén,FMCK Skövde,KTM,14:20.4 14:53.3 12:03.4 12:34.3,4.0,53:51.5
3,FMCK Skövde,2023.0,4.0,Ungdom E1,175.0,William Almén,SMK Värnamo,Husqvarna,14:26.6 14:50.0 12:07.0 12:42.5,4.0,54:06.2
4,FMCK Skövde,2023.0,5.0,Motion 40-49,944.0,Niklas Strömberg,Götene MK,Honda,14:40.2 15:07.9 11:56.7 12:28.9,4.0,54:13.8
5,FMCK Skövde,2023.0,6.0,Motion 40-49,931.0,Mårten Gustavsson,Försvarsmaktens EK,KTM,15:14.0 15:17.4 11:59.5 12:50.3,4.0,55:21.3
6,FMCK Skövde,2023.0,7.0,Motion -39,519.0,Erik Larsson,Tibro MK,KTM,15:39.1 15:09.3 12:19.7 12:29.9,4.0,55:38.1
7,FMCK Skövde,2023.0,8.0,Ungdom E1,100.0,Hugo Andersson,Tibro MK,Sherco / Team SHERCO SWEDEN ACADEMY/CEC RACING,14:43.9 16:13.7 12:25.1 12:26.6,4.0,55:49.5
8,FMCK Skövde,2023.0,9.0,Motion -39,620.0,Hampus Östensson,Hallsbergs MK,Husqvarna,15:37.8 15:43.3 12:14.7 12:28.4,4.0,56:04.4
9,FMCK Skövde,2023.0,10.0,Motion 40-49,949.0,Benny Andersson,Norrahammars MK,GasGas,15:01.3 15:00.1 13:01.1 13:05.4,4.0,56:08.1

## Converting 'År', 'Plac', '#', 'Varv' data to numeric.

In [63]:
# Convert columns to numeric, handling errors
columns_to_convert = ['År', 'Plac', '#', 'Varv']

for column in columns_to_convert:
    # Dropping rows with NaN in the 'Plac' column
    combined_df.dropna(subset=['Plac'], inplace=True)

    combined_df[column] = pd.to_numeric(combined_df[column], errors='coerce')

# Check for non-finite values
non_finite_values = combined_df[columns_to_convert][~combined_df[columns_to_convert].apply(lambda x: x.apply(np.isfinite)).all(1)]
print(non_finite_values)
combined_df.head(-10)

Empty DataFrame
Columns: [År, Plac, #, Varv]
Index: []

,Plats,År,Plac,Klass,#,Namn,Klubb,Märke/Anmälare,Varvtider,Varv,Tid
0,FMCK Skövde,2023.0,1.0,Motion 40-49,1111.0,Magnus Edberg,Huskvarna MK,KTM,14:08.2 14:17.5 11:47.5 12:52.1,4.0,53:05.5
1,FMCK Skövde,2023.0,2.0,Motion -39,518.0,Alexander Fält,Försvarsmaktens EK,Honda,14:38.8 14:31.4 12:13.6 12:21.2,4.0,53:45.2
2,FMCK Skövde,2023.0,3.0,Motion -39,577.0,Måns Dalén,FMCK Skövde,KTM,14:20.4 14:53.3 12:03.4 12:34.3,4.0,53:51.5
3,FMCK Skövde,2023.0,4.0,Ungdom E1,175.0,William Almén,SMK Värnamo,Husqvarna,14:26.6 14:50.0 12:07.0 12:42.5,4.0,54:06.2
4,FMCK Skövde,2023.0,5.0,Motion 40-49,944.0,Niklas Strömberg,Götene MK,Honda,14:40.2 15:07.9 11:56.7 12:28.9,4.0,54:13.8
...,...,...,...,...,...,...,...,...,...,...,...
2201,Tibro MK,2023.0,47.0,Bredd,213.0,Björn Levin,Kinna MK,Husqvarna,18:39.1 18:19.7 18:30.7 18:26.4,4.0,13:56.1
2202,Tibro MK,2023.0,48.0,Bredd,332.0,Ulf Åström,Wäxjö MS,Sherco,19:03.6 19:05.7 19:10.9 18:58.2,4.0,16:18.5
2203,Tibro MK,2023.0,49.0,Dam,441.0,Hilda Sjöberg,Tibro MK,Honda,19:31.1 19:36.3 19:18.4 19:05.1,4.0,17:31.0
2204,Tibro MK,2023.0,50.0,Bredd,315.0,Jesper Thorsson,Kungsbacka MA,Beta,19:36.0 19:27.1 19:18.8 19:30.9,4.0,17:53.0
2205,Tibro MK,2023.0,51.0,Bredd,200.0,Andreas Josefsson,Falköpings MK,Husqvarna,19:45.6 19:41.4 19:35.8 19:42.1,4.0,18:45.1

## Convert År, Plac, # and Varv colums to int.

In [64]:
columns_to_convert = ['År', 'Plac', '#', 'Varv']

# Convert specified columns to integer type
combined_df[columns_to_convert] = combined_df[columns_to_convert].astype(int)

combined_df = combined_df.rename(columns={'Varv': 'TotLaps'})
combined_df.head(-10)

,Plats,År,Plac,Klass,#,Namn,Klubb,Märke/Anmälare,Varvtider,TotLaps,Tid
0,FMCK Skövde,2023,1,Motion 40-49,1111,Magnus Edberg,Huskvarna MK,KTM,14:08.2 14:17.5 11:47.5 12:52.1,4,53:05.5
1,FMCK Skövde,2023,2,Motion -39,518,Alexander Fält,Försvarsmaktens EK,Honda,14:38.8 14:31.4 12:13.6 12:21.2,4,53:45.2
2,FMCK Skövde,2023,3,Motion -39,577,Måns Dalén,FMCK Skövde,KTM,14:20.4 14:53.3 12:03.4 12:34.3,4,53:51.5
3,FMCK Skövde,2023,4,Ungdom E1,175,William Almén,SMK Värnamo,Husqvarna,14:26.6 14:50.0 12:07.0 12:42.5,4,54:06.2
4,FMCK Skövde,2023,5,Motion 40-49,944,Niklas Strömberg,Götene MK,Honda,14:40.2 15:07.9 11:56.7 12:28.9,4,54:13.8
...,...,...,...,...,...,...,...,...,...,...,...
2201,Tibro MK,2023,47,Bredd,213,Björn Levin,Kinna MK,Husqvarna,18:39.1 18:19.7 18:30.7 18:26.4,4,13:56.1
2202,Tibro MK,2023,48,Bredd,332,Ulf Åström,Wäxjö MS,Sherco,19:03.6 19:05.7 19:10.9 18:58.2,4,16:18.5
2203,Tibro MK,2023,49,Dam,441,Hilda Sjöberg,Tibro MK,Honda,19:31.1 19:36.3 19:18.4 19:05.1,4,17:31.0
2204,Tibro MK,2023,50,Bredd,315,Jesper Thorsson,Kungsbacka MA,Beta,19:36.0 19:27.1 19:18.8 19:30.9,4,17:53.0
2205,Tibro MK,2023,51,Bredd,200,Andreas Josefsson,Falköpings MK,Husqvarna,19:45.6 19:41.4 19:35.8 19:42.1,4,18:45.1

In [65]:
# Your existing code to find and store rows with the words
rows_containing_words = []

for index, row in combined_df.iterrows():
    if any(['BRUTIT' in str(cell) or 'KÖR' in str(cell) for cell in row]):
        rows_containing_words.append(row)

dnf_df = pd.DataFrame(rows_containing_words, columns=combined_df.columns)

# Display the entire DataFrame containing rows with the words
dnf_df

,Plats,År,Plac,Klass,#,Namn,Klubb,Märke/Anmälare,Varvtider,TotLaps,Tid
138,FMCK Skövde,2023,139,Motion 40-49,920,Christoffer Johnsson,Hisingens MK,Sherco,18:23.3 18:43.1 BRUTIT,2,37:06.5
139,FMCK Skövde,2023,140,Motion -39,532,OKJohan Lindgren,Tranemo MK,Yamaha,19:55.1 20:25.7 BRUTIT,2,40:20.8
140,FMCK Skövde,2023,141,Motion -39,631,Dennis Olesen,Kullings MS,KTM,17:36.8 BRUTIT,1,17:36.8
141,FMCK Skövde,2023,142,Motion -39,610,David Hörberg,Försvarsmaktens EK,KTM,18:20.9 BRUTIT,1,18:20.9
142,FMCK Skövde,2023,143,Ungdom E1,198,Jacob Stacke,SMK Värnamo,Beta,22:25.7 BRUTIT,1,22:25.7
...,...,...,...,...,...,...,...,...,...,...,...
2151,Tibro MK,2023,150,Motion 40-49,1017,Henrik Hermansson,SMK Vadstena,Sherco,24:30.1 BRUTIT,1,24:30.1
2152,Tibro MK,2023,151,Motion 40-49,954,Christian Appelgren,Stenungsunds MS,Sherco,25:19.2 BRUTIT,1,25:19.2
2153,Tibro MK,2023,152,Motion -39,592,Ludvig Nilsson,Anderstorp RC,KTM,34:45.1 BRUTIT,1,34:45.1
2154,Tibro MK,2023,153,Ungdom E1,102,Liam Qvist,Åbågen MCK,Honda / Team cljp Sweden,BRUTIT,0,00:00.0
2215,Tibro MK,2023,61,Bredd,306,Jacob Johansson,Skene MS,Sherco,19:45.3 BRUTIT,1,19:45.3

In [66]:
# Extract the first word from 'Märke/Anmälare' column
first_words = combined_df['Märke/Anmälare'].str.split().str[0]

# Count occurrences of each first word
first_word_counts = first_words.value_counts().reset_index()

# Rename columns in the DataFrame
first_word_counts.columns = ['Brand', 'Count']

# Save the result in a DataFrame called brands_df
brands_df = first_word_counts.copy()

# Display the DataFrame
brands_df

        Brand  Count
0         KTM    922
1   Husqvarna    461
2      Sherco    214
3      Yamaha    156
4      GasGas    138
5        Beta    129
6       Honda     79
7    Kawasaki     31
8      Suzuki     19
9    Husaberg     11
10         TM     11
11     sherco      1
12     Fantic      1
13    Aprilia      1

In [67]:
# Specify the folder and file names
folder_name = '../src/dnf_brands/'
file_name = 'brands.csv'
file_path = os.path.join(folder_name, file_name)

# Check if the folder exists, create it if not
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

# Save the DataFrame to CSV
try:
    brands_df.to_csv(file_path, index=False)
    print(f"DataFrame 'brands_df' saved to {file_path} successfully.")
except Exception as e:
    print(f"Error saving DataFrame to CSV: {e}")

DataFrame 'brands_df' saved to ../src/dnf_brands/brands.csv successfully.

In [68]:
# Extract the first word from 'Märke/Anmälare' column in mismatched_rows
first_words_mismatched = dnf_df['Märke/Anmälare'].str.split().str[0]

# Count occurrences of each first word
first_word_counts_mismatched = first_words_mismatched.value_counts().reset_index()

# Rename columns in the DataFrame
first_word_counts_mismatched.columns = ['Brand', 'Count']

# Save the result in a DataFrame called brands_dnf_df
brands_dnf_df = first_word_counts_mismatched.copy()

# Display the DataFrame
print(brands_dnf_df)

        Brand  Count
0         KTM    109
1   Husqvarna     57
2        Beta     21
3      Sherco     20
4      Yamaha     17
5      GasGas     16
6       Honda     10
7    Kawasaki      4
8    Husaberg      2
9      Suzuki      1
10    Aprilia      1

In [69]:
# Merge the total counts and DNF counts on 'Brand'
merged_brands = brands_df.merge(brands_dnf_df, on='Brand', suffixes=('_total', '_dnf'))

# Calculate percentage chance of DNF for each brand
merged_brands['Percentage_DNF'] = (merged_brands['Count_dnf'] / merged_brands['Count_total']) * 100

# Display the DataFrame with the percentages
print(merged_brands)

        Brand  Count_total  Count_dnf  Percentage_DNF
0         KTM          922        109       11.822126
1   Husqvarna          461         57       12.364425
2      Sherco          214         20        9.345794
3      Yamaha          156         17       10.897436
4      GasGas          138         16       11.594203
5        Beta          129         21       16.279070
6       Honda           79         10       12.658228
7    Kawasaki           31          4       12.903226
8      Suzuki           19          1        5.263158
9    Husaberg           11          2       18.181818
10    Aprilia            1          1      100.000000

In [70]:
# Get the count of occurrences for KTM from 'merged_brands'
ktm_total_count = merged_brands[merged_brands['Brand'] == 'KTM']['Count_total'].values
ktm_dnf_count = merged_brands[merged_brands['Brand'] == 'KTM']['Count_dnf'].values

# Calculate the likelihood of a DNF for KTM
likelihood_ktm_dnf = (ktm_dnf_count / ktm_total_count) * 100 if ktm_total_count != 0 else 0

# Display the likelihood
print(f"The likelihood of a KTM getting a DNF is approximately {likelihood_ktm_dnf}%")

The likelihood of a KTM getting a DNF is approximately [11.82212581]%

## Save to CSV

In [71]:
# Specify the folder and file names
folder_name = '../src/dnf_brands'
file_name = 'dnf_brands.csv'
file_path = os.path.join(folder_name, file_name)

# Check if the folder exists, create it if not
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

# Save the DataFrame to CSV
try:
    merged_brands.to_csv(file_path, index=False)
    print(f"DataFrame 'merged_brands' saved to 'dnf_brands.csv' successfully.")
except Exception as e:
    print(f"Error saving DataFrame to CSV: {e}")

DataFrame 'merged_brands' saved to 'dnf_brands.csv' successfully.